:root {
    --primary-color: #419d4b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #419d4b, #387e74);
}

.cart {
    width: 300px;
    height: 420px;
    margin: 100px auto 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}

.cart-header {
    position: relative;
}

.cart-header__icon {
    position: absolute;
    z-index: 1;
    color: #333;
    font-size: 18px;
    width: 100%;
}

.cart-header__icon i:last-child {
    float: right;
}

.cart-header__icon i {
    cursor: pointer;
}

.cart-body {}

.cart:hover .cart-body__img {
    transform: translateY(-70px) rotate(-25deg);
    transition: 0.5s;
}

.cart-body__img img {
    width: 90%;
    object-fit: center;
    display: flex;
    margin: 10px auto 0;
    border-radius: 15px;
}

.cart:hover .cart-body__title,
.cart:hover .cart-body__heading {
    transform: translateY(-40px);
    text-align: unset;
    transition: all 0.5s;
}

.cart-body__heading {
    color: var(--primary-color);
    text-align: center;
    margin: 30px 0 10px 0;
}

.cart-body__title {
    color: #252737;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

.cart:hover .cart-footer {
    margin-top: 0;
    opacity: 1;
}

.cart-footer {
    margin-top: 150px;
    opacity: 0;
    transition: all 0.5s;
}

.cart-footer__size,
.cart-footer__color {
    color: #252737;
    display: flex;
    align-items: center;
}

.cart-footer__size h2 {
    margin-right: 10px;
    font-size: 20px;
}

.cart-footer__size p {
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: #252737;
    color: #fff;
    margin-right: 5px;
    border-radius: 3px;
    padding-top: 2px;
    cursor: pointer;
}

.cart-footer__color p {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.cart-footer__color h2 {
    margin: 10px 10px 10px 0;
    font-size: 20px;
}

.cart-footer__color-green {
    background-color: green;
}

.cart-footer__color-red {
    background-color: red;
}

.cart-footer__color-black {
    background-color: black;
}

.cart-footer__button .btn {
    padding: 8px 12px;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: #252737;
    min-width: 80px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-footer__button .btn:hover {
    transform: scale(0.9);
}

.cart-footer__button .btn:last-child {
    margin-left: 5px;
}