:root {
    --primary-color: #419d4b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #419d4b, #387e74);
}

.cart {
    width: 250px;
    height: 320px;
    margin: 100px 20px 0 20px;
    background-color: #333;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}

.cart-header {
    text-align: center;
}

.cart-header__img img:hover {
    width: 150%;
    height: 150%;
    transform: translate(-60px, -20px);
    border: none;
    border-radius: unset;
}

.cart-header__img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 2px #e94f4f;
    margin: 10px 0;
    object-fit: center;
    object-position: center;
}

.cart-header__heading {
    color: #fff;
    font-size: 16px;
}

.cart-header__titel {
    color: #e94f4f;
    font-size: 12px;
    margin-top: 5px;
}

.cart-body {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}

.cart-body__link {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.cart-body__link:hover {
    color: #e94f4f;
}

.cart-footer {
    text-align: center;
}

.cart-footer__btn:hover {
    background-color: #e94f4f;
}

.cart-footer__btn {
    outline: none;
    border: solid 1px #e94f4f;
    color: #fff;
    padding: 6px 10px;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
}